#choice_2_section { display: none; }
#house_forever_calculator { display: none; }
#house_year_calculator { display: none; }
#house_month_calculator { display: none; }
#work_forever_calculator { display: none; }
#work_year_calculator { display: none; }
#work_month_calculator { display: none; }
#officetel_forever_calculator { display: none; }
#officetel_year_calculator { display: none; }
#officetel_month_calculator { display: none; }