#choice_2_section { display: none; }
#house_forever_calcuator { display: none; }
#house_year_calcuator { display: none; }
#house_month_calcuator { display: none; }
#work_forever_calcuator { display: none; }
#work_year_calcuator { display: none; }
#work_month_calcuator { display: none; }
#officetel_forever_calcuator { display: none; }
#officetel_year_calcuator { display: none; }
#officetel_month_calcuator { display: none; }